{% extends "base.html" %} {% block title %}Home page{% endblock %}
{% block content %}
<div class="container py-5 px-5 my-5 bg-dark text-white text-center">
    <h3>
        <span class="h1">kannakar</span>  is an advanced expxense tracker for everyone who wishes to track their expense without getting their track lost
        their track
    </h3>
    <ul>
        <li> Improves savings habit</li>
        <li> tracks monthly and daily expense</li>
        <li> Can categorize your expense</li>
        <li> set up financial goals</li>
    </ul>
</div>
{% endblock %}